# Xilinx ISE Design Suite Files
*.wcfg
*.log
*.xmsgs
*.cmd
*.gise
*.xise
*.bgn
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.html
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xml
*.exe
*.wdb
*.ini
*.nlf
*.sdf
*_timesim.v
*/_ngo/
*/iseconfig/
*/isim/
*/xlnx_auto_0_xdb/
*/xst/
