# User Constraints

NET "BTN_E" LOC = H13;
NET "BTN_E" IOSTANDARD = LVTTL;
NET "BTN_E" PULLDOWN;

NET "BTN_W" LOC = D18;
NET "BTN_W" IOSTANDARD = LVTTL;
NET "BTN_W" PULLDOWN;

NET "RST" LOC = K17;
NET "RST" IOSTANDARD = LVTTL;
NET "RST" PULLDOWN;

NET "CLK" LOC = C9;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "CLK" PERIOD = 20.0ns HIGH 40%;

NET "LED[7]" LOC = F9;
NET "LED[6]" LOC = E9;
NET "LED[5]" LOC = D11;
NET "LED[4]" LOC = C11;
NET "LED[3]" LOC = F11;
NET "LED[2]" LOC = E11;
NET "LED[1]" LOC = E12;
NET "LED[0]" LOC = F12;
NET "LED[7]" IOSTANDARD = LVTTL;
NET "LED[6]" IOSTANDARD = LVTTL;
NET "LED[5]" IOSTANDARD = LVTTL;
NET "LED[4]" IOSTANDARD = LVTTL;
NET "LED[3]" IOSTANDARD = LVTTL;
NET "LED[2]" IOSTANDARD = LVTTL;
NET "LED[1]" IOSTANDARD = LVTTL;
NET "LED[0]" IOSTANDARD = LVTTL;
NET "LED[7]" DRIVE = 8;
NET "LED[6]" DRIVE = 8;
NET "LED[5]" DRIVE = 8;
NET "LED[4]" DRIVE = 8;
NET "LED[3]" DRIVE = 8;
NET "LED[2]" DRIVE = 8;
NET "LED[1]" DRIVE = 8;
NET "LED[0]" DRIVE = 8;
